body {
  padding: 0px;
  margin: 0px;
  background: #e6e6e6;
  /****BARRE DE NAVIGATION****/
  /****PRODUIT****/
}
body .navbar {
  /****NAV TITRE****/
  /****BARRE RECHERCHE****/
}
body .navbar .navbar-brand {
  text-transform: uppercase;
  font-size: 1.5rem;
}
body .navbar .navbar-brand span {
  font-family: montserrat;
  font-weight: 600;
  color: #fff;
  background: #56b948;
  padding: 10px;
  border-radius: 15px;
}
body .navbar .navbar-brand i {
  color: #56b948;
  font-size: 2rem;
}
body .navbar .d-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}
body .navbar .d-flex .form-control {
  font-size: 1.2rem;
  text-transform: uppercase;
  height: 60px;
}
body .navbar .d-flex .navb {
  border: 0px;
  background: transparent;
  padding: 10px;
  font-family: montserrat;
  font-size: 1rem;
  font-weight: 500;
}
body .navbar .d-flex .navb i {
  color: #56b948;
  font-size: 2rem;
}
body header {
  background: rgba(86, 185, 72, 0.4);
  width: 100%;
  height: 300px;
}
body .product {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .product .p-body {
  background: #fff;
  width: 90%;
  border-radius: 15px;
  margin-top: -10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .product .p-body .p-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  /***IMAGE ET CODE BARRE PRODUIT***/
  /****INFO RIGHT PRODUIT****/
}
@media (max-width: 575px) {
  body .product .p-body .p-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
body .product .p-body .p-box .p-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0px;
}
body .product .p-body .p-box .p-left img {
  padding: 15px;
  width: 100%;
}
body .product .p-body .p-box .box-info {
  width: 70%;
}
@media (max-width: 575px) {
  body .product .p-body .p-box .box-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
body .product .p-body .p-box .box-info h1 {
  font-family: montserrat;
  font-weight: 600;
  line-height: 6rem;
}
@media (max-width: 575px) {
  body .product .p-body .p-box .box-info h1 {
    line-height: 2.5rem;
  }
}
body .product .p-body .p-box .box-info span {
  font-family: montserrat;
  font-size: 1.2rem;
  background: rgba(86, 185, 72, 0.6);
  padding: 10px;
  border-radius: 15px;
}
@media (max-width: 575px) {
  body .product .p-body .p-box .box-info span {
    font-size: 1rem;
  }
}
body .product .p-body .p-box .box-info .sub-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 2rem;
  gap: 2rem;
}
@media (max-width: 575px) {
  body .product .p-body .p-box .box-info .sub-info {
    justify-content: center;
  }
}
body .product .p-body .p-box .box-info .sub-info span {
  background: transparent;
  border-radius: 0px;
}
@media (max-width: 575px) {
  body .product .p-body .p-box .box-info .sub-info span {
    font-size: 0.8rem;
  }
}
body .product .p-body .p-box .box-info .score {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: flex-start;
  padding-top: 15px;
}
@media (max-width: 575px) {
  body .product .p-body .p-box .box-info .score {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 1rem;
  }
}
body .product .p-body .p-box .box-info .tags {
  padding-top: 3rem;
  text-align: left;
  width: 100%;
}
body .product .p-body .p-box .box-info .tags span {
  font-family: montserrat;
  font-size: 1rem;
  background: rgb(86, 185, 72);
  border-radius: 15px;
  padding: 10px;
  font-weight: 600;
  color: #fff;
  line-height: 3rem;
  white-space: nowrap;
}
body footer {
  margin-top: 5.2rem;
  width: 100%;
  background: rgba(86, 185, 72, 0.4);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body footer span {
  padding: 25px 15px;
  font-family: montserrat;
  font-size: 1rem;
}/*# sourceMappingURL=style.css.map */